@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");

:root {
  --primary-color: #4daf54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, var(--primary-color), #3d8880);
}

.card {
  margin: 120px auto;
  width: 320px;
  height: 400px;
  background-color: #272d40;
  padding: 20px;
  border-radius: 15px;
  color: white;
  position: relative;
  font-family: "Poppins";
}
.card_cart,
.card_heart {
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 15px;
  cursor: pointer;
}

.card_cart {
  left: unset;
  right: 20px;
}
.card_ima {
  width: 90%;
  transition: 0.5s;
}

.card_ima img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_title,
.card_price {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
}

.card_title {
  color: var(--primary-color);
}

.card_size,
.card_color {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card_size span {
  padding: 1px 10px;
  background-color: #dadada;
  color: black;
  border-radius: 5px;
  margin: 0 5px;
}

.card_color span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
}

.card-color-green {
  background: green;
}
.card-color-red {
  background: red;
}
.card-color-black {
  background: black;
}

.card_action button {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.card:hover .card_ima {
  transform: translateY(-90px) rotate(-20deg);
  /* transition-delay: 0.4s; */
}

.card:hover .card_title {
  transform: translate(-38px, -72px);
  /* transition-delay: 0.4s; */
}

.card:hover .card_price {
  transform: translate(-117px, -72px);
  /* transition-delay: 0.4s; */
}

.card_size {
  margin-top: 100px;
}

.card_size,
.card_color,
.card_action {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.card:hover .card_size {
  margin-top: -30px;
}

.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action {
    visibility: visible;
    opacity: 100;
    /* transition-delay: 0.4s; */
}

.card_action button:hover {
    transform: scale(0.9);
}
